.carousel {
    width: 1250px;
}

.carouselkati {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  justify-content: center;
}

.kati {
    color: aliceblue;
}