body{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(161, 245, 228);
    color: rgb(3, 1, 1);

}

#glass{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

img{
    width: 300px;
    height: 300px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
